{% load static %} {% load account %}

<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <title> {% block title %} Noway {% endblock %}</title>
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_app/css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'main_app/css/shop.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
          $("#myModal").modal("show");
        }, 1000); // 1000 milissegundos = 1 segundo
      });
    </script>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <!-- Menu do site -->
    <nav class="justify-center navbar navbar-expand-lg">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto menu-spacing">
            <li class="nav-item">
              <a class="nav-link menu-link" aria-current="page" href="{% url "lookbook" %}">LOOKBOOK</a>
            </li>
            <li class="nav-item menu-link">
              <a class="nav-link menu-link" href="{% url "shop" %}">SHOP</a>
            </li>
            <li class="nav-item ">


              <a class="nav-link logo-link" href="{% url "index" %}">
                <img
                  src="{% static 'main_app/img/logo.png' %}"
                  width="100px"
                  alt=""
                />
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link menu-link" aria-current="page" href="{% url "manifest" %}">MANIFEST</a>
            </li>
            <li class="nav-item menu-link">
              <a class="nav-link menu-link" href="{% url "perfil" %}">ACCOUNT</a>
            </li>

             <!--<li class="nav-item">
      <i class="bi bi-cart">
        <a href=""></a>
      </i>
      </li>-->

          </ul>
        </div>
      </div>
    </nav>
   
    <!-- Fim do menu -->






    <!-- Conteúdo das páginas -->
    <main class="flex-fill">
      {% block content %}
      {% endblock %}
    </main>
    <!-- Fim do conteúdo das páginas -->

    <!-- Rodapé -->
    <footer class="rodape text-light py-3" style="margin-top: 200px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <ul class="nav flex-row justify-content-center">
              <li class="nav-item"><a class="nav-link footer-link" href="#">Shop</a></li>
              <li class="nav-item"><a class="nav-link footer-link" href="#">Lookbook</a></li>
              <li class="nav-item"><a class="nav-link footer-link" href="#">About Us</a></li>
              <li class="nav-item"><a class="nav-link footer-link" href="#">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center" style="background-color: #000; padding: 20px;">
        &copy; 2025 Noway
      </div>
    </footer>
    <!-- Fim do rodapé -->
  </body>
</html>