{% extends "base.html" %}
{% load static %}
{% load account %}



{% block title %}Noway - Home{% endblock title %}

{% block menu_styles %}
<style>
  .navbar .nav-link {
    color: white !important;
  }

  .navbar .nav-link:hover {
    color: #b0b0b0 !important;
  }
</style>
{% endblock %}


{% block content %}

  <style>
  .logo-link {
    display: none !important;
  }
</style>
    <style>
      body {
        background-image: url("{% static 'main_app/img/wallpaper.png' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        margin: 0;
        padding: 0;
      }

      @media (max-width: 991.98px) {
    body {
     background-image: url("{% static 'main_app/img/wallpaper_mobile.png' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    }
  }

      .navbar {
        background-color: transparent !important;
      }

      .offcanvas-custom {
        width: 50vw;
        background-color: rgba(0, 0, 0, 0.95);
        color: white;
      }

      .offcanvas-custom .offcanvas-body a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 8px 0;
      }

      .offcanvas-custom .offcanvas-body a:hover {
        text-decoration: underline;
      }

      .offcanvas-header .btn-close {
        filter: invert(1);
      }

      footer .footer-newsletter,
      footer .footer-logo,
      footer .footer-links {
        flex: 1 1 0;
        max-width: 300px;
      }

      main {
    min-height: 900px; 
  }
    </style>

</html>


{% endblock content %}