{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>NOWAY</title>
  <link rel="stylesheet" href="{% static 'main_app/css/index.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      setTimeout(function() {
        $('#myModal').modal('show');
      }, 1000); // 1000 milissegundos = 1 segundo
    });
  </script>
</head>
<body>

  <nav class="justify-center navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto menu-spacing">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link logo-link" href="#">
              <img src="{% static 'main_app/img/logo.png' %}" width="100px" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">LOOKBOOK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">HELP</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="video-container">
  <video class='mvideo' width="1000" height="1000" autoplay muted>
    <source src="{% static 'main_app/video/noway.mp4' %}" type="video/mp4">
    Seu navegador não suporta a tag de vídeo.
  </video>
</div>

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-x1">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        sexo
      </div>
      <div class="modal-footer">
        <a href="{% url "account_signup" %}"><button type="button" class="btn btn-primary">Save changes</button></a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Script para exibir o modal 1x por sessão -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (!sessionStorage.getItem('modalShown')) {
      setTimeout(function () {
        const myModal = new bootstrap.Modal(document.getElementById('myModal'));
        myModal.show();
        sessionStorage.setItem('modalShown', 'true');
      }, 1000); // 1 segundo
    }
  });
</script>
 

</body>
</html>
