{% extends "base.html" %}
{% load static %}


{% block title %}Noway. Base{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="{% static 'main_app/img/lookbook/album1.jpg' %}" class="img-fluid rounded mb-2" alt="Imagem 1">
        <h5>COLECAO PANTERA</h5>
      </div>
      <div class="col-md-4">
        <img src="{% static 'main_app/img/lookbook/album2.jpg' %}" class="img-fluid rounded mb-2" alt="Imagem 2">
        <h5>COLECAO FURAO</h5>
      </div>
      <div class="col-md-4">
        <img src="{% static 'main_app/img/lookbook/album3.jpg' %}" class="img-fluid rounded mb-2" alt="Imagem 3">
        <h5>COLECAO SAFADO</h5>
      </div>
    </div>
  </div>


{% endblock content %}