{% extends "base.html" %}
{% load static %}

{% block title %} Noway. Manifest  {% endblock %}

{% block content  %}
<link rel="stylesheet" href="{% static 'main_app/css/manifest.css' %}" />


<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
  <picture>
    <source srcset="{% static "main_app/img/manifest/manifest_mobile.png" %}" media="(max-width: 992px)">
    <img src="{% static 'main_app/img/manifest/manifest_pc.png' %}" width="700px"  class="img-fluid" alt="Texto Manifesto">
  </picture>
  </div>

{% endblock  %}