/* Remove margem padrão do body */
body {
  background-image: url("../img/shop/background2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}



.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 500px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer; /* opcional para indicar interatividade */
}

.img-base,
.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: opacity 1s ease;
}

.img-hover {
  opacity: 0; /* inicia invisível */
}

.container.scroll-ativa .img-hover {
  opacity: 1; /* aparece com fade */
}

.container.scroll-ativa .img-base {
  opacity: 0; /* some com fade */
}
